.townMapContainer {
  position: relative;
  margin-right: 5px;
  border: solid;
  height: 80vh;
}

.backgroundImage {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.topImage {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.wall {
  top: 40%;
  left: 45%;
  width: 200px;
  height: 250px;
  background-color: black;
}

.clickContainer {
  position: absolute;
  z-index: 3;
  cursor: pointer;
}
